<div class="layout-topbar">
  <a class="layout-topbar-logo">
    <img src="assets/layout/images/logo_assignment.svg" alt="logo">
  </a>

  <button *ngIf="this.configService.isMobile() && this.authService.isUserLogged()" class="p-link layout-menu-button layout-topbar-button" (click)="toggleMenu()" >
    <i #menubutton class="pi pi-bars"></i>
  </button>


    <button pButton pRipple icon="pi pi-home" *ngIf="!this.authService.isUserLogged()" class="p-button-text p-button-success" label="Accueil" (click)="goHome()" >
    </button>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="this.configService.showProfileSidebar()" >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': this.configService.state.profileSidebarVisible}" >
    <button *ngIf="this.loginService.isUserLogged()" class="p-link layout-topbar-button" >
      <i class="pi pi-bell"></i>
      <span>Notifications</span>
    </button>
    <button *ngIf="this.loginService.isUserLogged()" class="p-link layout-topbar-button">
      <i class="pi pi-envelope"></i>
      <span>Messages</span>
    </button>
    <button pButton pRipple class="p-button-text" (click)="this.loginService.isUserLogged()? profile(): logIn()"
            icon="pi {{this.loginService.isUserLogged() ? 'pi-user' : 'pi-unlock'}}"
    label="{{this.loginService.isUserLogged() ? 'Profile' : 'Connexion'}}">
    </button>
    <p-divider *ngIf="this.configService.isMobile() && this.authService.isUserLogged()"></p-divider>
    <button *ngIf="this.loginService.isUserLogged()" class="p-link layout-topbar-button" (click)="logOut()">
      <i class="pi pi-fw pi-power-off red"></i>
      <span>Deconnexion</span>
    </button>
  </div>
</div>
