<div class="layout-topbar">
  <a class="layout-topbar-logo">
    <img src="assets/layout/images/logo_assignment.svg" alt="logo">
  </a>

  <button *ngIf="this.configService.isMobile() && this.authService.isUserLogged()" class="p-link layout-menu-button layout-topbar-button" (click)="toggleMenu()" >
    <i #menubutton class="pi pi-bars"></i>
  </button>


    <button pButton pRipple icon="pi pi-home" *ngIf="!this.authService.isUserLogged()" class="p-button-text p-button-success" label="Accueil" (click)="goHome()" >
    </button>

  <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="this.configService.showProfileSidebar()" >
    <i class="pi pi-ellipsis-v"></i>
  </button>

  <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': this.configService.state.profileSidebarVisible}" >
    <button *ngIf="this.loginService.isUserLogged()" class="p-link layout-topbar-button" >
      <i class="pi pi-bell"></i>
      <span>Notifications</span>
    </button>
    <button *ngIf="this.loginService.isUserLogged()" class="p-link layout-topbar-button">
      <i class="pi pi-envelope"></i>
      <span>Messages</span>
    </button>
    <button pButton pRipple pTooltip="{{this.loginService.isUserLogged() ? 'Votre profile': 'Vous connecter'}}" class="p-button-text" (click)="this.loginService.isUserLogged()? profile(): logIn()"
            icon="pi {{this.loginService.isUserLogged() ? 'pi-user' : 'pi-unlock'}}"
    label="{{this.loginService.isUserLogged() ? 'Profile' : 'Connexion'}}">
    </button>
    <p-divider *ngIf="this.configService.isMobile() && this.authService.isUserLogged()"></p-divider>
    <button pTooltip="Vous deconnecter" *ngIf="this.loginService.isUserLogged()" class="p-link layout-topbar-button" (click)="logOut()">
      <i class="pi pi-fw pi-power-off red"></i>
      <span>Deconnexion</span>
    </button>
  </div>
</div>

<!--Boite de dialogue pour la visualisation des infos de l'utilisateur-->
<p-dialog header="Informations de l'Utilisateur" [(visible)]="displayUserInformationModal" [modal]="true" [style]="{width: '40vw'}" class="p-fluid"
          [draggable]="false" [resizable]="false">
  <ng-template pTemplate="body">
    <p-divider></p-divider>
    <h5 class="m-0 flex">
      <i class="pi pi-user" style="font-size: 2rem">  {{actualUser?.name}}</i>
    </h5>
    <div class=" card  mt-2">
      <div class="flex justify-content-between">
        <h6>Nom d'utilisateur:</h6>
        <p>{{actualUser?.name}}</p>
      </div>
      <div class="flex justify-content-between">
        <h6>Email:</h6>
        <p>{{actualUser?.email}}</p>
      </div>
      <div class="flex justify-content-between">
        <h6>Mot de passe:</h6>
        <p>************</p>
      </div>
      <div class="flex justify-content-between">
        <h6>Role:</h6>
        <p>{{actualUser?.role}}</p>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" label="OK" styleClass="p-button-text" (click)="displayUserInformationModal=false"></p-button>
    <p-button icon="pi pi-user-edit" label="Edit" styleClass="p-button-text" (click)="editUserProfile()" ></p-button>
  </ng-template>
</p-dialog>

<!--Boite de dialogue pour la modification de l'utilisateur-->
<p-dialog header="Modification de l'Utilisateur" [(visible)]="displayEditUserInformationModal" [modal]="true" [style]="{width: '40vw'}" class="p-fluid"
          [draggable]="false" [resizable]="false">
  <ng-template pTemplate="body">
    <p-divider></p-divider>
    <h5 class="m-0">
      <i class="pi pi-user-edit" style="font-size: 2rem">  Modifier mes informations</i>
    </h5>
    <div class=" card  mt-2">

      <!--div class="field">
        <label for="password">Nouveau mot de passe:</label>
        <p-password [(ngModel)]="editedPassword"  id="editedPassword" name="password" [toggleMask] ="true"></p-password>
      </div-->
      <div class="field">
        <label for="name">Nom de l'utilisateur:</label>
        <input type="text" pInputText [(ngModel)]="actualUserToEdit.name" id="name" name="name"/>
        <small class="p-error block" *ngIf="actualUserToEdit.name==null || actualUserToEdit.name.replaceAll(' ','')==''">Name is required.</small>
      </div>
      <div class="field">
        <label for="email">Email:</label>
        <input type="text" pInputText [(ngModel)]="actualUserToEdit.email" id="email" name="email"/>
        <small class="p-error block" *ngIf="actualUserToEdit.email==null || actualUserToEdit.email.replaceAll(' ','')==''">Email is required.</small>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cancelEditUserModal()"></button>
    <p-button icon="pi pi-check" label="Enregistrer" styleClass="p-button-text" (click)="confirmEditUser()"></p-button>
  </ng-template>
</p-dialog>
