<p-dialog [(visible)]="modalDisplayed" header="Surppression" [modal]="true" [style]="{width:'450px'}" [closable]="false">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
    <span *ngIf="assignmentToDelete">Etes vous sur de voulloir supprimer ce devoir <b>{{assignmentToDelete.name}}</b> ?</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-times" class="p-button-text " label="Non" (click)="cancelDelete()"></button>
    <button pButton pRipple icon="pi pi-check" class="p-button-text p-button-danger " label="Oui" (click)="confirmDelete()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="this.authService.displayModalAuthorization" header="Autorisation" [modal]="true" [style]="{width:'450px'}" [closable]="false">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3 red" style="font-size: 2rem"></i>
    <span *ngIf="message" class="red">{{message}}</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="D'accord" (click)="this.authService.closeModalAuthorization()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayModalDeletion" header="Surppression" [modal]="true" [style]="{width:'450px'}" [closable]="false">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-check mr-3 green" style="font-size: 2rem"></i>
    <span *ngIf="message" class="green">{{message}}</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="D'accord" (click)="closeModeDeletion()"></button>
  </ng-template>
</p-dialog>



