* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: $scale;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    background-color: var(--surface-ground);
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}
.green{
  color: #3cb553;
}
.red{
  color: red;
}
.orange{
  color: #dc7b30;
}

.loader{
  z-index: 10;
  width: 80px;
}
.transparent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 95vw;
  height: 85vh;
  z-index: 1011;
  position: absolute;
  align-self: center;
}

.layout-menu-plus{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  height: 100vh;
  border: 2px red solid;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  //z-index: 2000;
  //position: absolute;

}
.layout-mobile{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 25vw;
   padding: 10px;
  margin-left: 40px;
 }

.btn-home{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding: 1rem;
  background: transparent;
  border: 1px #0a1f3c solid;

}

.btn-home i, p{
  margin-right: 10px;
  color: #0a1f3c;
  font-size: 1rem;
  font-weight: bold;
}

.layout-menu-title{
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;

}
.routeLink{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.routeLink span{
  margin-left: 10px;
}
.routeLink:hover span, .routeLink:hover i{
  font-weight: bold;
  font-size: 1rem;
  color: #0b5ed7;
  cursor: pointer;
}

.width-cover{
  width: 80vw;

  div button, div button i{
    font-weight: bold;
    font-size: 2rem;
  }
  div button i{
    margin-right: 10px;
  }
}

.dash-image{
  height: 20vh;
  width: 50px;
}
.bg-blue{
  background: #1f86f9;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  padding: 5rem;
  border-radius: 12px;
}
