<div *ngIf="this.configService.isDesktop()" class="card layout-menu-plus {{this.configService.isMobile()}}">

  <ng-container *ngFor="let el of model;">
    <div  class="layout-menu-title">{{el.label.toUpperCase()}}</div>
    <div >
      <div class="routeLink">
        <button pButton pRipple class="p-button-text p-button-secondary" icon="{{el.item.icon}}" [routerLink]="el.item.routerLink" label="{{el.item.label}}"></button>
      </div>
    </div>

  </ng-container>
</div>
<p-sidebar *ngIf="this.configService.isMobile()" [(visible)]="this.configService.isOpenedMenu">


<ng-template pTemplate="header"><h2>Menu principal</h2></ng-template>
<ng-template pTemplate="content">
  <div class="layout-mobile">
  <ng-container *ngFor="let el of model;">
    <div  class="layout-menu-title">{{el.label.toUpperCase()}}</div>
    <div >
      <div class="routeLink">
        <i class="{{el.item.icon}}"></i>
        <span [routerLink]="el.item.routerLink">{{el.item.label}}</span>
      </div>
    </div>

  </ng-container>
</div>
</ng-template>
</p-sidebar>
