<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div class="border-blue">
      <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
        <div class="text-center mb-5">
          <img src="assets/layout/images/logo_assignment.svg" alt="Image" height="50" class="mb-3">
          <div class="text-900 text-3xl font-medium mb-3">Ajout d'un nouvel utilisateur</div>
        </div>

        <div>
          <label for="name" class="block text-900 text-xl font-medium mb-2">Nom de l'Utilisateur</label>
          <input [(ngModel)]="name" id="name" type="text" placeholder="User name" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" name="name">

          <label for="email" class="block text-900 text-xl font-medium mb-2">Email de l'Utilisateur</label>
          <input [(ngModel)]="email" id="email" type="text" placeholder="Email" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" name="email">

          <label for="password" class="block text-900 font-medium text-xl mb-2">Mot de passe</label>
          <p-password [(ngModel)]="password" id="password" placeholder="Mot de passe" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem" name="password"></p-password>

          <label for="role" class="block text-900 text-xl font-medium mb-2">Role de l'Utilisateur</label>
          <!--input id="role" type="text" placeholder="role" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem" name="role"-->
          <p-selectButton id="role"  [options]="stateOptions" [(ngModel)]="role" optionLabel="label" optionValue="value" name="role"></p-selectButton>

          <button pButton pRipple label="Add User" class="w-full p-3 text-xl" (click)="addNewUser()"></button>
        </div>
      </div>
    </div>
  </div>
</div>
