<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
    <p-dialog [(visible)]="modalDisplayed" [style]="{width: '50vw'}" header="Modification Devoir" [modal]="true" class="p-fluid" [closable]="false" [blockScroll]="false">
      <ng-template pTemplate="content">
        <img [src]="assignmentToEdit.course.coursePhoto" [alt]="assignmentToEdit.name" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="assignmentToEdit.course.coursePhoto">
        <div class="field">
          <label for="name">Nom du devoir</label>
          <input type="text" pInputText id="name" [(ngModel)]="assignmentToEdit.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !assignmentToEdit.name}"/>
          <small class="ng-dirty ng-invalid" *ngIf="submitted && !assignmentToEdit.name">Name is required.</small>
        </div>
        <div class="field">
          <label for="comment">Commentaire</label>
          <textarea id="comment" pInputTextarea [(ngModel)]="assignmentToEdit.comment" required rows="3" cols="20"></textarea>
        </div>
        <div class="formgrid grid">
          <div class="field col">
            <label for="dateRendu">Date de rendu actuelle</label>
            <h4 id="dateRendu">{{assignmentToEdit.deadLine | date}}</h4>
          </div>
          <div class="field col">
            <label for="date">Definir une nouvelle Date</label>
            <p-calendar id="date" [(ngModel)]="assignmentToEdit.deadLine" ></p-calendar>
          </div>
        </div>
        <div class="formgrid grid">
          <div class="field col">
            <label for="markActuel">Note actuelle</label>
            <h4 id="markActuel"  >{{assignmentToEdit.mark}}</h4>
          </div>
          <div class="field col">
            <label for="mark">Definir une nouvelle Note</label>
            <p-inputNumber id="mark" [(ngModel)]="assignmentToEdit.mark"></p-inputNumber>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="cancelEdit()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveEdit()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>

<p-dialog [(visible)]="this.authService.displayModalAuthorization" header="Autorisation" [modal]="true" [style]="{width:'450px'}" [closable]="false">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-exclamation-triangle mr-3 red" style="font-size: 2rem"></i>
    <span *ngIf="message" class="red">{{message}}</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="D'accord" (click)="this.authService.closeModalAuthorization()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="displayModalModification" header="Modification" [modal]="true" [style]="{width:'450px'}" [closable]="false">
  <div class="flex align-items-center justify-content-center">
    <i class="pi pi-check mr-3 green" style="font-size: 2rem"></i>
    <span *ngIf="message" class="green">{{message}}</span>
  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple icon="pi pi-check" class="p-button-text" label="D'accord" (click)="closeModalModification()"></button>
  </ng-template>
</p-dialog>

</div>
